<% var title = 'Classement';%>

<% include head %>


    <div class="span5">
        <h4>Classement des meilleurs joueurs en temps</h4>
        <table border="1">
            <% classements[0].forEach(function(joueur){ %>
                <tr>
                    <% if(joueur.recordCoups != null){ %>
                        <td>
                            <%= joueur.username %>
                        </td>
                        <td>
                            <%= joueur.recordDuree %> secondes
                        </td>
                        <!--
                        <td>
                            <form method="post" action="/supprimerDuClassement">
                                <input type="hidden" value="<%=joueur.username%>">
                                <p>
                                    <input type="submit" value="Supprimer pour triche">
                                </p>
                            </form>
                        </td>
                        -->
                    <% } %>
                </tr>
            <% }); %>
        </table>
    </div>

    <div class="span5">
        <h4>Classement des meilleurs joueurs en coups</h4>
        <table border="1">
            <% classements[1].forEach(function(joueur){ %>
                <tr>
                    <% if(joueur.recordCoups != null){ %>
                        <td>
                            <%= joueur.username %>
                        </td>
                        <td>
                            <%= joueur.recordCoups %> coups
                        </td>
                        <!--
                        <td>
                            <form method="post" action="/supprimerDuClassement">
                                <input type="hidden" value="<%=joueur.username%>">
                                <p>
                                    <input type="submit" value="Supprimer pour triche">
                                </p>
                            </form>
                        </td>
                        -->
                    <% } %>
                </tr>
            <% }); %>
        </table>
    </div>

    <div class="span5">
        <h4>Classement des meilleurs joueurs hebdomadaires en temps</h4>
        <table border="1">
            <% classements[2].forEach(function(joueur){ %>
                <tr>
                    <% if(joueur.recordCoups != null){ %>
                        <td>
                            <%= joueur.username %>
                        </td>
                        <td>
                            <%= joueur.recordDuree %> secondes
                        </td>
                        <!--
                        <td>
                            <form method="post" action="/supprimerDuClassement">
                                <input type="hidden" value="<%=joueur.username%>">
                                <p>
                                    <input type="submit" value="Supprimer pour triche">
                                </p>
                            </form>
                        </td>
                        -->
                    <% } %>
                </tr>
            <% }); %>
        </table>
    </div>

    <div class="span5">
        <h4>Classement des meilleurs joueurs hebdomadaires en coups</h4>
        <table border="1">
            <% classements[3].forEach(function(joueur){ %>
                <tr>
                    <% if(joueur.recordCoups != null){ %>
                        <td>
                            <%= joueur.username %>
                        </td>
                        <td>
                            <%= joueur.recordCoups %> coups
                        </td>
                        <!--
                        <td>
                            <form method="post" action="/supprimerDuClassement">
                                <input type="hidden" value="<%=joueur.username%>">
                                <p>
                                    <input type="submit" value="Supprimer pour triche">
                                </p>
                            </form>
                        </td>
                        -->
                    <% } %>
                </tr>
            <% }); %>
        </table>
    </div>

<% include foot %>

